<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stars-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{13,16}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{149,59},{13,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{128,103},{15,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,4}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{128,59},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{19,20}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{128,81},{19,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{149,77},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,4}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{149,91},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{97,59},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{29,24}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{97,85},{29,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{1,77},{43,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{43,46}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{49,77},{43,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{48,1},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{95,1},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{97,92}</string>
                <key>textureRect</key>
                <string>{{130,1},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{164,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a352437757c11554d4be83bf410cdcd:36478f0a540e6968ea17f0ce1d6559f1:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
